@use "../abstracts/vars";

:root {
    --table-title-size: 2.441rem;
    --table-subtitle-size: 1.25rem;
}

:root[data-theme="light"] {
    --svg-color: #{vars.$ui_color_dark};
    --text-color: #{vars.$ui_color_dark};
}

:root[data-theme="dark"] {
    --svg-color: #fff;
    --text-color: #fff;
    --text-color-dark: hsl(360, 50%, 100%);
}

.scanner-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--table-title-size);
    line-height: normal;
}

.scanner-subtitle {
    font-size: var(--table-subtitle-size);
    text-transform: none;
    line-height: normal;
    font-weight: 400;
}

.page-wrapper {
    display: grid;
    min-height: 100vh;
    max-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
    height: 100%;
}

.screen-reader-only {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px); // IE 6 and 7
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}

.video-feed {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: #fff;
    background-size: cover;
    background-position: center center;
}

.qr-scanner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    &.is-hidden {
        display: none;
    }

    &__title {
        color: var(--text-color);
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: var(--table-title-size);
        line-height: normal;
    }

    &__subtitle {
        color: var(--text-color);
        font-size: var(--table-subtitle-size);
        text-transform: none;
        line-height: normal;
        font-weight: 400;
    }

    &__icon {
        fill: var(--svg-color);
        stroke: var(--svg-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 110%;
        width: auto;
    }
}

.qr-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.575rem 0;
}

.manually-link {
    color: var(--text-color-dark);
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

.overlay {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 1fr 200px 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "shadow-top shadow-top shadow-top"
        "shadow-left scanner shadow-right"
        "shadow-bottom shadow-bottom shadow-bottom";

    &__shadow-top {
        grid-area: shadow-top;
    }

    &__shadow-right {
        grid-area: shadow-right;
    }

    &__shadow-bottom {
        grid-area: shadow-bottom;
    }

    &__shadow-left {
        grid-area: shadow-left;
    }

    &__shadow-top,
    &__shadow-right,
    &__shadow-bottom,
    &__shadow-left {
        background-color: rgba(0, 0, 0, 0.25);
    }

    &__top-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__bottom-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        padding: 3rem 0;
    }

    &__scanner {
        grid-area: scanner;
        position: relative;
    }
}
